html {
    width: 100vw;
    font-family: sans-serif;
    height: 100vh;
    color: rgb(151, 147, 147);
    user-select: none;
  }
  
  body {
    margin: 0px;
    padding: 0px;
    max-width: 94%;
    height: 25%;
    background-image: url(https://scitechdaily.com/images/Plasma-Energy-Generation-Concept-Slow.gif);
    /*background-image: url(https://cdn.pixabay.com/animation/2023/06/25/21/55/21-55-38-961_512.gif);*/
    /* background-image: url(https://images.hdqwalls.com/download/gta-5-nature-7r-1920x1080.jpg);*/
    /*background-image: url("https://images.hdqwalls.com/download/son-goku-dragon-ball-z-minimal-4k-po-1923x1082.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  li {
    cursor: pointer;
    padding: 3.5px; /* Beispiel: 50% der ursprünglichen Polsterung */
    background-color: #2d3da8ca;
    margin: 3.5px 0; /* Beispiel: 50% des ursprünglichen Abstands */
    border-radius: 3.5px; /* Beispiel: 50% der ursprünglichen Rundung */
  }
  
  li:hover {
    background-color: rgba(32, 127, 199, 0.516);
  }
  
  .player-container {
    width: 275px; /* Kleinere Breite */
    height: 80px;
    opacity: 0.9; /* Transparenz */
  }
  
  audio::-webkit-media-controls-panel {
    background-color: rgba(186, 201, 254, 0.893); /* Transparenter Hintergrund Player!*/
  }
  
  audio::-webkit-media-controls-play-button,
  audio::-webkit-media-controls-pause-button,
  audio::-webkit-media-controls-timeline,
  audio::-webkit-media-controls-current-time-display,
  audio::-webkit-media-controls-time-remaining-display,
  audio::-webkit-media-controls-seek-back-button,
  audio::-webkit-media-controls-seek-forward-button,
  audio::-webkit-media-controls-mute-button,
  audio::-webkit-media-controls-volume-slider {
    display: block; /* Zeigt alle Steuerungselemente an */
  }
  